<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategorieServlet</servlet-name>
        <servlet-class>controller.CategorieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>controller.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeServlet</servlet-name>
        <servlet-class>controller.CommandeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventaireServlet</servlet-name>
        <servlet-class>controller.InventaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>controller.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockerServlet</servlet-name>
        <servlet-class>controller.StockerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VenteServlet</servlet-name>
        <servlet-class>controller.VenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategorieServlet</servlet-name>
        <url-pattern>/CategorieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/ClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeServlet</servlet-name>
        <url-pattern>/CommandeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventaireServlet</servlet-name>
        <url-pattern>/InventaireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockerServlet</servlet-name>
        <url-pattern>/StockerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenteServlet</servlet-name>
        <url-pattern>/VenteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
